body{
    background:
    radial-gradient(circle at top,#3b0764,#0f172a);
    color:white;
    font-family:Segoe UI,sans-serif;
}

.reel{
    background:#111827;
    border:3px solid gold;
    box-shadow:
        0 0 10px gold,
        0 0 30px gold;
}

.card{
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(8px);
    transition:.2s;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 0 20px #8b5cf6;
}

button{
    background:linear-gradient(
        135deg,
        #facc15,
        #f97316
    );
    border:none;
    border-radius:10px;
}
